@charset "utf-8";
/* CSS Document */
/* 头部 */
header{
    width:100%;
    height:.85rem;
    background: #fff;
    border-bottom: 1px solid #aaaaaa;
}
.header_top{
    height:.45rem;
    display:-webkit-flex;
    border-bottom: 1px solid #b2b2b2;
}
.header_top a{
    font-size: 13px;
    color:#a92e2a;
    line-height: .45rem;
    margin-left: .21rem;
    margin-right:1.21rem;
}
.header_top p{
    font-size: 16px;
    color:#000000;
    font-weight:600;
    line-height: .45rem;
}
.header_bottom{

}
.header_bottom ul{
    display:-webkit-flex;
}
.header_bottom ul li{
    line-height: .38rem;
    -webkit-flex:1;
    font-size:13px;
    color:#555555;
    text-align: center;
}
.header_bottom ul .focus{
    color:#a92e2a;
    border-bottom:1px solid #a92e2a;
}
/* 中部 */
section{
    padding-top:.2rem;
    -webkit-flex: 1;
    overflow-y: scroll;
}
.ptlogin{
    display: none;
}
section .show{
    display: block;
}
.ptlogin h4{
    font-size: .39rem;
    color:#a42116;
    text-align: center;
    line-height: .39rem;
    padding-bottom: .2rem;
}
.ptlogin form{
    display: -webkit-flex;
    flex-direction: column;
}
.ptlogin .info{
    height:.87rem;
    background: #fff;
    border-top:1px solid #c7c7cb;
    border-bottom:1px solid #c7c7cb;
    position: relative;
}
.ptlogin .btn{
    position: absolute;
    top:.57rem;
    left:2.49rem;
    border:0;
    background: #fff;
    color: #a13833;
    font-size:13px;
    font-weight: 600;
    outline-color: transparent;
}
.username::-webkit-input-placeholder,.userps::-webkit-input-placeholder{
	color: #c7c7cc;
	font-size: 13px;
}
.ptlogin .username,.ptlogin .userps{
    display: block;
    border: 0;
    text-indent: 8px;
    width:92%;
    height:50%;
    margin-left: .15rem;
    outline-color: transparent;
}
.ptlogin .username{
    box-sizing: border-box;
    border-bottom:1px solid #c7c7cb;
}
.ptlogin .sub{
   width:3.35rem;
   height:.36rem;
   border:0;
   color:#fff;
   margin:.3rem auto .22rem auto;
   background: #a42116;
   font-size: 14px;
   outline-color: transparent;
}
.ptlogin p{
    margin-left: .22rem;
    margin-right: .21rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}
.ptlogin p a{
    font-size: 13px;
    color:#a42116;
}
/* 尾部 */
footer{
    height:.76rem;
}
.title{
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    margin: 0 .2rem;
    height: 13px;
}
.title .xian{
    width:1.17rem;
    height:2px;
    background: #aaaaaa;
}
.title p{
    font-size:13px;
    color:#555555;
}
.bottom{
    display: -webkit-flex;
    margin:.1rem .93rem 0 .93rem;
}
.bottom a{
    -webkit-flex: 1;
}
.bottom a img{
    width:.35rem;
    height:.35rem;
    margin: 0 auto;
}
